{
    "extends": "airbnb",
    "env": {
        "browser": true,
        "jest/globals": true
    },
    "parser": "babel-eslint",
    "rules": {
        "no-plusplus": 0,
        "semi": ["error", "always"],
        "indent": ["error", 2, { "SwitchCase": 1 }],
        "react/jsx-filename-extension": 0,
        "react/prop-types": 0,
        "jsx-a11y/anchor-is-valid": 0,
        "jsx-a11y/label-has-for": 0,
        "jsx-a11y/anchor-has-content": 0
    },
    "plugins": ["jest"]
}
